# 파이선 기초

## 다루는 내용

### 쥬피터 사용법  
### 파이선 기본 변수
- 정수(int), 부동소수(float), 문자(strings), 불리언(True/False),  
- 리스트(list), 튜풀(tuple), 사전(dictionary), for문, if문

## 쥬피터 사용

- 아나콘다 (anaconda)를 설치한 후 터미널 창에서 jupyter notebook 명령으로 실행
- 또는 윈도우 명령창에서 jupyter notebook 실행

#### 쥬피터 팁


- 명령 모드는 파란색, 편집모드는 초록색으로 보인다
 - fdkdsfdkf
- 셀을 실행하려면 Shift + Enter 를 입력한다 (또는 Ctrl + Enter)
- 두 개의 셀을 합치려면 Shift + m을 입력한다 (m: merge)
- 셀을 둘로 나누려면 나누려는 곳에서 Shift + Ctrl + '-'를 입력한다. 
- 새로운 셀 삽입은 a(위에 삽입, above), b(아래 삽입, below)을 입력한다 (명령 모드에서)
- 출력 화면을 감추려면/다시보려면 'o'를 입력한다 (명령 모드에서)

## 파이선 기초 문법

In [32]:
yy=1000
yy

1000

In [33]:
z=10
yy+z

1010

In [34]:
x = 5

x*x*x

125

In [35]:
x =3.3
x

3.3

In [36]:
print(x)

3.3

In [37]:
type(x)

float

In [38]:
y = 4.0
print("x+y = ", x+y)

x+y =  7.3

In [39]:
type(y)

float

In [40]:
print("문자열을 출력합니다")
print('따옴표는 하나도 됩니다')

문자열을 출력합니다
따옴표는 하나도 됩니다

In [41]:
a = True
b = False
a | b

True

In [42]:
a | b

True

In [43]:
a*10

10

In [44]:
a + a + a + a + a + 10

15

### 리스트
- 여러 항목의 집합체로 각 항목의 타입은 서로 달라도 된다.
- 리스트를 만들려면 대괄호 [ ]를 사용하고 각 항목을 ','로 구분한다

In [45]:
item_2 = list([1,2,3])
item_2

[1, 2, 3]

In [46]:
items = [1, 2, 3, 4, 5, 'kim']
items, items*2
# print(items)

([1, 2, 3, 4, 5, 'kim'], [1, 2, 3, 4, 5, 'kim', 1, 2, 3, 4, 5, 'kim'])

In [47]:
x,y,z

(3.3, 4.0, 10)

In [48]:
# 리스트의 길이
len(items)

6

In [49]:
# 리스트에서 위치 번호는 '1'이 아니라 '0'부터 시작한다.
items[5]

'kim'

In [50]:
# 3번째 항목을 값을 바꾸었다.
items[2]=100
items

[1, 2, 100, 4, 5, 'kim']

In [51]:
# 뒤에서부터 인덱싱할 때는 '-' 를 사용한다.
items[-2]

5

In [52]:
items[-2]

5

In [53]:
# 리스트의 일부 구간만 얻으려면 슬라이스(slice) ':'를 사용한다
items[2:]

[100, 4, 5, 'kim']

In [54]:
items[2:]

[100, 4, 5, 'kim']

### 튜플 (tuple)
- 튜플은 리스트처럼 여러 항목의 집합을 담을 수 있는데 리스트와 달리 튜플의 내용은 '상수'로 취급되어 값을 바꿀 수 없다
- 튜플을 만들려면 소괄호( )를 사용하여 만들거나 , 로 구분하여 나열한다.

In [55]:
my_tuple = (1, 2, 3)
your_tuple = 4, 5,  "hello"
print(my_tuple)
print(your_tuple)

(1, 2, 3)
(4, 5, 'hello')

In [56]:
a, b, c = 3, 4, 100

In [57]:
print(a)
print(b)
c

3
4

100

### 사전 (Dictionaries)
- 딕셔너리로 키-값 조합 형태의 리스트를 만들 수 있다. 
- 딕셔너리에서는 항목을 찾을 때 키를 사용한다
- 딕셔너너리에서 저장된 순서는 중요시하지 않는다.
- 딕셔너리는 중괄호 {  } 로 만든다.

In [58]:
my_dict = { 'grade': 3,'age': 21,'name': "kim"  }
print(my_dict['name']) 
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

kim
dict_keys(['grade', 'age', 'name'])
dict_values([3, 21, 'kim'])
dict_items([('grade', 3), ('age', 21), ('name', 'kim')])

In [59]:
my_dict['name']

'kim'

### for 루프

- 동작을 반복할 때 for 루프를 사용한다
- for 문장의 끝에는 ':'가 있어야 하며 for 문이 적용되는 블록(block)은 반드시 들여쓰기 (indentation)을 해야 한다.

In [60]:
items = [ 1, 5, 100]

In [61]:
for x in items:
    print(x**3)
    print('----'*10)

1
----------------------------------------
125
----------------------------------------
1000000
----------------------------------------

In [62]:
for i in range(10): 
    print (i*1000)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000

In [63]:
x = range(10000)
x

range(0, 10000)

### if 문

In [64]:
for i in range(10): 
    if  i % 2 == 0:
        print('2의 배수(짝수):', i)
        print('2의 배수입니다')
    if i % 3 == 0:
        print('3의 배수', i)
    if i % 4 == 0:
        print('4의 배수', i)
    else:
        print('--- 기타')

2의 배수(짝수): 0
2의 배수입니다
3의 배수 0
4의 배수 0
--- 기타
2의 배수(짝수): 2
2의 배수입니다
--- 기타
3의 배수 3
--- 기타
2의 배수(짝수): 4
2의 배수입니다
4의 배수 4
--- 기타
2의 배수(짝수): 6
2의 배수입니다
3의 배수 6
--- 기타
--- 기타
2의 배수(짝수): 8
2의 배수입니다
4의 배수 8
3의 배수 9
--- 기타

In [76]:
import numpy as np
import matplotlib.pyplot as plt
np.random.rand(3)

array([0.46436218, 0.45860652, 0.5422026 ])